*{
    margin: 0;
    padding: 0;
}

header{
   background: url('https://i.pinimg.com/originals/ea/00/0c/ea000cc6fb9375b14a7b21d55dcf9745.jpg') no-repeat center;
   background-size: cover;
   height: 650px;
}